/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
#nav-bar{
    flex-direction: column;
    font-size: 0.8em;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    overflow: hidden;
    height: 65px;

}